#addTodo {
    margin: 20px;
}

#addTodo input {
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#addTodo label {
    font-family: 'Courier New', Courier, monospace;
}